<div class="suppliers-header">
    <div class="title-area">
        <h1>Fornecedores</h1>
        <p>Gerenciamento e cadastro de Fornecedores</p>
    </div>
    <div class="header-actions-btn">
        <button class="btn-primary"><i class="ph ph-plus"></i><span> Novo Fornecedor</span></button>
    </div>
</div>

<div class="card table-container">

    <div class="filters-row">
        <div class="filter-group flex-2">
            <div class="search-input-wrapper">
                <i class="ph ph-magnifying-glass"></i>
                <input type="text" placeholder="Buscar Fornecedores...">
            </div>
        </div>
        <div class="filter-group">
            <select>
                <option>Nome</option>
            </select>
        </div>
        <div class="filter-group">
            <select>
                <option>Ativos</option>
            </select>
        </div>
        <button class="btn-icon"><i class="ph ph-funnel"></i></button>
    </div>

    <table class="data-table">
        <thead>
            <tr>
                <th>NOME</th>
                <th>CNPJ</th>
                <th>REPRESENTANTE</th>
                <th>CPF</th>
                <th>EMAIL</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let active of itemsDisplayed">
                <td>
                    <strong>
                        {{ active.name }}
                    </strong>
                </td>
                <td>{{ active.cnpj }}</td>
                <td>{{ active.agent }}</td>
                <td>{{ active.cpf }}</td>
                <td>{{ active.email }}</td>
                <td class="actions-td">
                    <button><i class="ph ph-eye"></i></button>
                    <button><i class="ph ph-pencil-simple"></i></button>
                    <button><i class="ph ph-clock-counter-clockwise"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination-footer">
        <span>Mostrando página {{ paginaAtual }} de {{ totalPaginas }} ativos</span>

        <div class="pagination-buttons">
            <button class="btn-page" (click)="paginaAnterior()" [disabled]="paginaAtual === 1"><i 
                class="ph ph-caret-left"></i></button>

            <button class="btn-page" *ngFor="let pagina of arrayPaginas" [class.active]="pagina === paginaAtual"
                (click)="irParaPagina(pagina)">
                {{ pagina }}
            </button>

            <button class="btn-page" (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas"><i 
                class="ph ph-caret-right"></i></button>
        </div>
    </div>
</div>