<div class="suppliers-header">
    <div class="title-area">
        <h1>Fornecedores</h1>
        <p>Gerenciamento e cadastro de Fornecedores</p>
    </div>
    <div class="header-actions-btn">
        <button class="btn-primary" type="button" (click)="openCreateSupplier()"><i class="ph ph-plus"></i><span> Novo Fornecedor</span></button>
    </div>
</div>

<div class="stats-grid supplier-cards">
    <div class="card stat-box">
        <div class="stat-top"><span>TOTAL DE FORNECEDORES</span></div>
        <div class="stat-bottom">
            <h2>{{ allSuppliers.length }}</h2>
        </div>
    </div>

    <div class="card stat-box">
        <div class="stat-top"><span>FORNECEDORES ATIVOS</span></div>
        <div class="stat-bottom">
            <h2>{{ totalAtivos }}</h2>
            <span class="text-success text-sm font-bold">Em operação</span>
        </div>
    </div>

    <div class="card stat-box border-left-danger">
        <div class="stat-top"><span>FORNECEDORES INATIVOS</span></div>
        <div class="stat-bottom">
            <h2>{{ totalInativos }}</h2>
            <i class="ph-fill ph-warning-circle" style="color: #ef4444; font-size: 24px;"></i>
        </div>
    </div>

    <div class="card stat-box">
        <div class="stat-top"><span>CATEGORIAS CADASTRADAS</span></div>
        <div class="stat-bottom">
            <h2>{{ totalCategorias }}</h2>
        </div>
    </div>
</div>

<div class="card table-container">

    <div class="filters-row">
        <div class="table-tabs">
            <button class="tab" [class.active]="activeTab === 'Todos'" (click)="setTab('Todos')">Todos</button>
            <button class="tab" [class.active]="activeTab === 'Ativos'" (click)="setTab('Ativos')">Ativos</button>
            <button class="tab" [class.active]="activeTab === 'Inativos'" (click)="setTab('Inativos')">Inativos</button>
        </div>
        <button class="btn-text">
            <i class="ph ph-faders"></i>
            Mais filtros
        </button>
    </div>

    <table class="data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>CNPJ/CPF</th>
                <th>CATEGORIA</th>
                <th>ATIVO</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let active of itemsDisplayed">
                <td>{{ active.id }}</td>
                <td>
                    <div class="supplier-cell">
                        <div class="supplier-avatar" [ngClass]="getAvatarClass(active.category)">
                        {{ getInitials(active.name) }}
                        </div>

                        <div class="supplier-info">
                        <strong>{{ active.name }}</strong>
                        </div>
                    </div>
                </td>
                <td>{{ active.cnpj_cpf }}</td>
                <td>{{ active.category }}</td>
                <td><span class="badge" [ngClass]="active.statsClass">{{ active.stats }}</span></td>
                <td class="actions-td">
                    <button type="button" (click)="openViewSupplier(active)"><i class="ph ph-eye"></i></button>
                    <button type="button" (click)="openEditSupplier(active)"><i class="ph ph-pencil-simple"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination-footer">
        <span>Mostrando página {{ paginaAtual }} de {{ totalPaginas }} ativos</span>

        <div class="pagination-buttons">
            <button class="btn-page" (click)="paginaAnterior()" [disabled]="paginaAtual === 1"><i 
                class="ph ph-caret-left"></i></button>

            <button class="btn-page" *ngFor="let pagina of arrayPaginas" [class.active]="pagina === paginaAtual"
                (click)="irParaPagina(pagina)">
                {{ pagina }}
            </button>

            <button class="btn-page" (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas"><i 
                class="ph ph-caret-right"></i></button>
        </div>
    </div>
</div>

<div
  class="drawer-backdrop"
  *ngIf="isSupplierFormOpen"
  (click)="closeSupplierForm()">
</div>

<app-suppliers-form
  *ngIf="isSupplierFormOpen"
  [mode]="supplierFormMode"
  [supplier]="selectedSupplier"
  (close)="closeSupplierForm()">
</app-suppliers-form>